.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron

lib/

AS_package/
scenarios/
data/
data_popsim/
data_beam/
output_popsim/
data_activitysim/
output_activitysim/
output/
output_all/

skims.omx

data.zip
scenarios.zip

__pycache__/
_targets/

inputs/skims/skm_auto_Ok.mtx.omx

inputs/skims/skm_auto_Pk.mtx.omx


base/

asim.sh
slurm*
old_slurm_files/


*.jar
reference_beam/r5/physsim-network.xml
reference_beam/r5/osm.mapdb
reference_beam/r5/osm.mapdb.p
reference_beam/r5/network.dat
reference_beam/r5/tolls.dat
