.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron

lib/

AS_package/
scenarios/
data/
data_popsim/
output_popsim/
data_activitysim/
output/
output_all/

skims.omx

data.zip
scenarios.zip

__pycache__/
_targets/

inputs/skims/skm_auto_Ok.mtx.omx

inputs/skims/skm_auto_Pk.mtx.omx

base/
